body {
    font-family: Tahoma, Arial;
    background: #f5f5f5;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    margin-top: 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0b5ed7;
    }
#imagePreview img {
    border-radius: 8px;
    border: 1px solid #ddd;
}

#imagePreview .card {
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}
.persian-datepicker-container {
    font-family: 'Vazir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
}

.persian-datepicker-rtl .picker-footer {
    text-align: left;
}

.input-validation-error {
    border-color: #dc3545 !important;
}