@{
    ViewData["Title"] = "خطا";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">۵۰۰</h1>
        <p class="fs-3"> <span class="text-danger">اوه!</span> مشکلی پیش آمده است.</p>
        <p class="lead">
            متاسفانه در پردازش درخواست شما خطایی رخ داد. لطفاً دوباره تلاش کنید.
        </p>
        <a href="/Home/Index" class="btn btn-primary">بازگشت به خانه</a>
    </div>
</div>